<%- include('partials/header') %>

    <div class="student">
        <div class="student-avatar">
            <img src="<%= locals.currentStudent.profile_picture_url %>" alt="">
        </div>
        <div class="student-description">
            <h1><%= locals.currentStudent.first_name %> <%= locals.currentStudent.last_name %></h1>
            <p>Étudiant</p>
            <p>Promo: <a href="/promos/<%= locals.currentPromo.id %> "><em><%= locals.currentPromo.name%></em></a></p>
            <p>Pseudo Github : <em><%= locals.currentStudent.github_username %></em></p>
            <nav>
                <ul>
                    <li><a href="#">Modifier la fiche de l'étudiant</a></li>
                </ul>
            </nav>
        </div>
    </div>

<%- include('partials/footer') %>